.contentsWrapper {
	background: white;
	color: black;



	.contents {
		max-width: 100%;


		.contentsItem {
			clear: both;

			.contentsImg {
				max-width: 50%;
				margin: 1rem auto;
				float: left;
padding-right: 0.5rem;

			}
			.contentsDescription {
				margin: 1rem auto;
				padding: 1rem 0.5rem;
			}
		}

	}


	.arrowUp {
		position: fixed;
		bottom: 5%;
		right: 5%;
		max-width: 3rem;
		padding: 0.5rem;
		cursor: pointer;
	}


}