@mixin bRadius($br) {
	border-radius: $br;
	outline: none;
}

.headerWrapper {
	max-width: 100%;
	background: linear-gradient(to top left, black, white);
	padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	outline: none;
	display: flex;
	color:white ;
	position: relative;

	.header {
		width: 100%;
		display: flex;
		align-items: center;

		.headerLogo {
				max-width: 2.5rem;
				margin-right: 0.5rem;
		}

		.headerTitle {
			text-align: center;
			font-size: 1.3rem;
			font-weight: bold;
			flex-grow: 2;
			@media screen and (max-width: 480px) {
				font-size: 1.1rem;
			}
		}

		.headerContactsBtnMenu {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			.contactsBtnImg {
				max-width: 1.5rem;
				margin-right: 0.5rem;
			}
		}
	}

	.contactsWrapper {
		position: absolute;
		right: 0;
		left: 50%;
		top: 7rem;
		text-align: center;
		z-index: -10;
		opacity: 0;
		transition: opacity 1s;
		background: radial-gradient(at right top, white, black);
		border-radius: 0.5rem;
		outline: none;
		color: white;

		.contacts {
      max-width: 100%;


			.contactItem {
				max-width: 100%;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				padding: 1rem 0.5rem;
				justify-content: left;
				border-top: 1px solid white;
				border-top-right-radius: 0.5rem;
				border-top-left-radius: 0.5rem;
				outline: none;
				text-decoration: none;
				color: white;
				&:last-child {
					margin-bottom: 1rem;
				}
				@media screen and (max-width: 480px) {
					justify-content: center;
					padding: 1rem 5px;
				}
				.contactImg {
					padding-right: 0.5rem;
					max-width: 2rem;
					border-radius: 0.2rem;
					outline: none;
				}
			}
		}
	}
	.contactsWrapper.show {
		z-index: 3;
		opacity: 100;
		transition: opacity 1s;
	}
}