.sideBarWrapper {
	margin-top: 0.5rem;
	border-radius: 0.5rem;
	outline: none;
	background: radial-gradient(at right bottom, white, black );
	padding: 0 0.5rem;
	max-width: 100%;
	text-align: center;

	.sideBar {
		max-width: 100%;
		display: flex;
		justify-content: space-between;

		.sideBarItem {
			display: inline-block;
			max-width: 100%;
			color: white;
			font-size: 1em;
			margin: 0 auto 5px auto;
			padding: 5px;
			text-decoration: none;
			font-weight: bold;
			border-bottom: 1px solid white;
			border-bottom-right-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;
		}
	}
}
