.sideBarWrapper {
	grid-area: s;
	margin-top: 1rem;
	border-radius: 0.5rem;
	outline: none;
	background: radial-gradient(at right bottom, black, white );
	padding: 1rem 0.5rem;
	max-width: 100%;
	text-align: center;

	.sideBar {
		max-width: 100%;
		display: flex;
		flex-direction: column;

		.sideBarItem {
			display: block;
			max-width: 100%;
			color: white;
			font-size: 1em;
			margin: 1rem auto;
			padding: 0.5rem;
			text-decoration: none;
			font-weight: bold;
			border-bottom: 1px solid white;
			border-bottom-right-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;
		}
	}
}
@media screen and (max-width: 680px) {
	.sideBarWrapper {
		margin-top: 0.5rem;
		padding: 0 0.5rem;

		.sideBar {
flex-direction: row;
			justify-content: space-between;


			.sideBarItem {
display: inline-block;
				margin: 0 auto 5px auto;
				padding: 5px;
			}
		}
	}

}