.footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 2rem;

		.arrowUp {
			position: absolute;
			bottom: 100%;
			left: 80%;
			max-width: 3rem;
			padding: 0.5rem;
			cursor: pointer;
		}
	}


